/* Keyframes loader */ 

@keyframes loader {
  0%, 98% {
    opacity: 1;
    cursor: wait;
    transform: translateX(0px);
  }
  99% {
    opacity: 0;
    cursor: wait;
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes icone {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  38% {
    transform: rotate(396deg);
  }
  45% {
    transform: rotate(324deg);
  }
  52% {
    transform: rotate(372deg);
  }
  60% {
    transform: rotate(348deg);    
  }
  66% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes img {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  95% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@keyframes hidden {
  0%, 99% {
    height: 0;
  }
  100% {
    height: auto;
  }
}
 /* Keyframes menus */ 

@keyframes menus {
  0% {
    transform: scaleY(1.2);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes choice {
  0% {
    opacity: 0;
    transform: translateY(0.7rem);
  }
  75% {
    transform: translateY(0rem);
  }
  100% {
    opacity: 1;
  }
}
