$font-size-default: 16px;
$font-family-texte: 'roboto', 'Trebuchet MS', Arial, Helvetica, sans-serif;
$font-family-logo: 'shrikhand', 'Brush Script MT', Arial, Helvetica, cursive;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;
$color-background: #f6f6f6;
$color-icones: #7e7e7e;

$padding1rem: 1rem;