.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;    
  &__arrow {
    position: absolute;
    left: 2rem;    
  }
  &__logo {
    width: 44%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}