header {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    .arrow {
      position: absolute;
      left: 2rem;
      display: none;
    }
    .logo {
      width: 44%;
      padding-top: $padding1rem;
      padding-bottom: $padding1rem;
    }
  }  
}