.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__img {
    display: flex;
  }
  &__section-menus {
    padding: 2.5rem 3.7%;
    background-color: $color-background;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -2.5rem;
    &__h2 {
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem 2rem 2%;
      font-family: $font-family-logo;
      font-size: 1.7rem;
      font-weight: normal;
      i {
        color: black;
      }
    }
    
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;          
  }

.menus {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  &__h3 {
    text-transform: uppercase;
    width: 2.8rem;
    padding-bottom: 0.4rem;
    margin-left: 2%;
    border-bottom: solid 3px $color-tertiary;
  }  
}
.label {
  cursor: pointer;
  position: relative;
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  max-height: 68px;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
  &__txt {
    line-height: 1.5rem; 
    padding: 0.8rem;
    width: 100%;
    h4 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 1rem;
    }
    &__price {
      display: flex;
      justify-content: space-between; 
      padding-right: .5rem;           
      p:first-child {
        font-size: 0.9rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 1rem;
      }             
    }             
  }
  &__icon {
    display: none;
    color: white;
    background-color: $color-tertiary;
    font-size: 1.4rem;
    padding: 1.6rem 1.4rem;
    max-width: 3rem;
    &:focus {
      display: block;
      outline: none;
    }
  }  
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

button {
  padding: 1rem 3rem;
  margin: 1rem auto;
  color: white;
  font-family: $font-family-texte;
  border-style: none;
  border-radius: 2rem;
  font-size: 1rem;
  background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
  @include box-shadow;
}