.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__img {
    display: flex;
  }
  &__section-menus {
    padding: 2.5rem 3.7%;
    background-color: $color-background;
    border-radius: 2.5rem 2.5rem 0 0;
    margin-top: -2.5rem;
    &__h2 {
      display: flex;
      justify-content: space-between;
      padding: 0 1.5rem 2rem 2%;
      font-family: $font-family-logo;
      font-size: 1.7rem;
      font-weight: normal;
      i {
        color: black;
      }
    }
    
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;          
  }

.menus {
  padding-bottom: 2rem;
  &__h3 {
    text-transform: uppercase;
    width: 2.8rem;
    padding-bottom: 0.4rem;
    margin-left: 2%;
    border-bottom: solid 3px $color-tertiary;
  }  
}
.choice {
  margin-top: 1rem;
  background-color: white;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  max-height: 68px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  &__txt {
    line-height: 1.5rem; 
    padding: 0.8rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1rem;
    &__price {
      display: flex;
      justify-content: space-between;            
      p:first-child {
        font-size: 0.9rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 1rem;
      }             
    }             
  }
  &__input {
    position: absolute;
    left: -9999px;
  }
  &__label {
    i {
      color: white;
      background-color: $color-tertiary;
      font-size: 1.4rem;
      padding: 1.6rem 1.2rem;
    }          
  }
}
button {
  padding: 1rem 3rem;
  margin: 1rem auto;
  color: white;
  font-family: $font-family-texte;
  border-style: none;
  border-radius: 2rem;
  font-size: 1rem;
  background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
}