/* Section Titre */

.section-title {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  &__heading, &__subtitle {
    text-align: center;
  }
  &__heading {
    padding: 2rem 3rem 1rem 3rem;
    line-height: 1.8rem;
  }
  &__subtitle {
    color: $color-footer;
    padding: 0 1rem 2rem 1rem;
    line-height: 1.2rem;
    font-size: 1.1rem;
  }  
  &__button {
    display: flex;
    justify-content: center;
  }  
}
/* Formulaire */
.form {
  display: flex;
  justify-content: center; 
  padding-top: 1rem;    
  padding-bottom: 1rem; 
  background-color: #eaeaea;
  box-shadow: inset 0 .5rem .5rem -.5rem rgba(0, 0, 0, 0.4);
  &__label {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &--color {
      color: $color-footer;
    }
  }
  &__input {
    border-style: none;
    background-color: inherit;
    font-family: $font-family-texte;
    font-size: 1.05rem;
    font-weight: bold;
    width: 9rem;
    color: $color-footer;
  }
}
/* bouton */
.button {
  padding: 1rem 1.5rem;
  margin: auto;
  color: white;
  font-family: $font-family-texte;
  border-style: none;
  border-radius: 2rem;
  font-size: 1rem;
  background: linear-gradient(170deg, $color-secondary 0%, $color-primary 100%);
  @include box-shadow;
  transition: opacity 2s, box-shadow 1s;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.75;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
  }
}

/* Aside */ 

.aside {
  padding: 3rem 5.6%;
  &__list {
    padding-top: 1.5rem;
    counter-reset: compteListe;
  }
}
.item {
  padding: 1.5rem 1rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem; 
  background-color: $color-background;
  @include box-shadow;  
  border-radius: 1rem;
  counter-increment: compteListe;
  &:hover {
    background-color: rgba(147, 86, 220, 0.15);
    i {
      color: $color-primary;
    }    
  }
  &::before {
    content: counter(compteListe);
    color: white;
    font-weight: normal;
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-1.8rem);
  }
  &__icon {
    width: 1.7rem;
    margin-right: 1rem;
    &--size {
      font-size: 1.2rem;
      color: $color-icones2;      
    }    
  }  
}

/* Section restaurants */ 

.section-restaurants {
  padding: 3rem 5.6%;
  background-color: $color-background;
  &__heading {
    padding-bottom: 2rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 500px));
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 2rem;    
  }
}
/*cartes */
.cards {
  background-color: white;
  border-radius: 1rem;
  min-width: 180px;
  max-width: 500px;
  overflow: hidden;
  @include box-shadow;
  cursor: pointer;
  &__img {
    display: flex;
    position: relative; 
    overflow: hidden;   
    img {
      transform: scale(1);
      transition: transform 0.4s ease-in-out, opacity 0.1s 100ms;
      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
      } 
    }    
  }
  &__txt-card {
    padding: 1rem 1rem;
    align-items: center;
    line-height: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* Bouton Coeur */ 
.button-heart {
  border-style: none;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: white;
  outline: none; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__full {
    position: absolute;
    top: 0;
    background: linear-gradient(10deg, $color-secondary 0%, $color-primary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: opacity 100ms 0s;
    z-index: 8;
  }  
  &__empty {
    background-color: white;
    opacity: 1;
    z-index: 12;
    &:active, &:hover {
      opacity: 0;
      &::after {
        opacity: 1;
        transform: scaleY(1);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: blue;
      z-index: 10;
      opacity: 1;
      transform-origin: 50% 0%;
      transform: scaleY(0);
      transition: transform 1500ms ease-in;      
    }   
  }
  
  &:active, &:hover {
    .button-heart__full {
      opacity: 1;
    }
  }
}
/* Etiquette "Nouveau" */
.new {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  color: #008766;
  background-color: $color-tertiary;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
}